
.div2{
    position: absolute;

}
.abt-pg{
    font-style: oblique;
    margin-left: 150px;
    margin-right: 220px;
}
.wri p{
    margin-left: 100px;
    margin-right:100px;
    margin-top: 50px;
    text-align: justify;
    font-size: 20px;
}
strong{
    font-size: 30px;
    margin-left: 150px;
    margin-right: 220px;
    margin-top: 100px;
    color: aqua;
    text-align: justify;
}
.aims p{
    margin-left: 100px;
    font-size: 10px;
    font-size: 20px;
    text-align: justify;
    margin-right: 100px;
}
.abt-web{
    font-size: 20px;
    line-height: 1.7rem;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}
.stu1{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    

}
.stu1 img{
    height: 300px;
    width: 400px;
}
.stu1 p{
    margin-top:70px ;
    margin-right: 50px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.7rem;
}
.heading1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
    color: aqua;
}
.stu2{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.stu2 p{
    margin-top:70px ;
    margin-left: 50px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.7rem;
}
.heading2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
    color: aqua;
}
img.stu{ 
    height: 300px;
    width: 400px; 
}